<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artzs</title>
    <!-- <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <!-- <link rel="stylesheet" href="/stylesheets/styles_.css">  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!--  had to put this here for dropdown list to work-->
    <script src='javascripts/fb.js'></script>
  <body>
   <!-- <div class = "container"> -->
    <nav class = "navbar navbar-default">
      <div class = "container">
        <div class = "navbar-header">
          <button type='button' class = "navbar-toggle collapsed  data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gallery</a>
        </div>
        <div id = "navbar" class = "navbar-collapse collapse">
          <ul class = "nav navbar-nav">
             <li><a href='/'>Home</a></li>
             <li><a href='/view'>View Painting</a></li>
             <li><a href='/contact'>Contact</a></li>
          </ul>
          <ul class = "nav navbar-nav">
           <% if(user && global.userType == 'admin') { %>
             <li class = "dropdown">
               <a class = "dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"> Maintenance  
                <span class = "caret"></span>
               </a>
               <ul class = "dropdown-menu" role = "menu">
                <li><a href='/addPainting'> Add Painting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href='/viewUsers'> Users</a></li>
               </ul>
             </li> <% } %> 
          </ul> 

          <ul class = "nav navbar-nav navbar-right">
           <% if (!user) { %>
             <li class = "dropdown">
               <a class = "dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><button class = "btn btn-info">Login&nbsp;<span class = "caret"></span></button>
               
               </a>
               <ul class = "dropdown-menu" role = "menu">
                <li><a href='/login'>Login</a></li>
                <li><a href='/register'>Register User</a></li>  
             <li> <% } %>
           <% if (user) { %>   
             <li>   
               <a href='/logout'> <button class = "btn btn-info">Logout &nbsp; (<%=user.username%>)</button></a>
             </li> <% } %>
          </ul> 

          <!-- <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul> -->

          <div class = "row">
            <div class="col-md-12">
              <% if (success_msg != false){ %>
              <div class="alert alert-success">
                <%= success_msg %>
              </div>
              <% } %>
              <% if (error_msg != false){ %>
              <div class="alert alert-danger">
                  <%= error_msg %>
              </div>
              <% } %>
            </div>
          </div>
        </div> 


          
        